table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
  }

  * {
      background-color: lightgray;
  }

  #submitButton {
      float: right;
  }

  .table {
    text-align:center; 
    margin-left:auto; 
    margin-right:auto; 
    width:600px;
    /* background-color: grey; this turns the one box grey, idk why */
  }

header {
    background-color: grey;
    padding: 15px;
}


